.big-card {
  border-radius: 6px;
  position: relative;
  transition: 200ms;
}

.big-card:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 25px rgb(177, 177, 177);
}

.big-card img {
  height: 530px;
  width: 450px;
  /* border: 1px solid black; */
  border-radius: 6px;
}

.big-card-text {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

.black-scr{
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0), black);
  border-radius: 6px;
  opacity: 90%;
}

.big-card-div {
  display: flex;
  justify-content: center;
}

.mr-5 {
  margin-right: 40px;
}

@media only screen and (max-width: 1500px) {
  .big-card img {
    height: 35.3vw;
    width: 30vw;
  }
}

@media only screen and (max-width: 1024px) {
  .big-card-div {
    justify-content: space-evenly;
  }

  .mr-5 {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .big-card-div {
    flex-direction: column;
    align-items: center;
  }

  .big-card img {
    height: auto;
    width: 100%;
  }

  .big-card {
    margin-bottom: 30px;
    width: 90%;
  }
}