.pop-card{
    border: none;
    /* box-shadow: 0px 0px 11px #b9b9b9; */
    position: relative;
    border-radius: 10px;
    transition: 200ms;
}

.pop-card:hover {
    transform: scale(1.2);
    z-index: 10;
}

.pop-card:hover > img{
    box-shadow: 0px 0px 25px #b9b9b9;
    border: 2px solid white;
}

.card-img{
    width: 209px;
    height: 250px;
    border-radius: 15px;
    border: 4px solid white;
    transition: 200ms;
}

.card-t{
    height: 100%;
    width: 209px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.pp{
    translate: -95px;
}

.img-btn-left{
    rotate: 180deg;
    position: absolute;
    left: 130%; 
    transition: 200ms;
}

.img-btn-left:hover{
    transform: scale(1.24);
}

.img-btn-right{
    rotate: 0deg;
    position:absolute;
    right: 156%;
    transition: 200ms;
}

.img-btn-right:hover{
    transform: scale(1.24);
}

@media only screen and (max-width: 600px) {
    .img-btn-left{
        position: relative;
        left: 0%; 
    }
    .img-btn-right{
        position: relative;
        right: 0%;
    }
  }