.game-comm{
    margin: 2px;
    /* object-fit: contain; */
    /* word-wrap: break-word;
    overflow: scroll; */
  
    
}

/* @media (max-width:24.0px) {
    .game-comm{
        ;
    }
    
} */


.commentcontainer{
    background-color:burlywood ;
    /* object-fit: contain; */
    margin: 2px;
}

/* @media (max-width:480px) {
    .commentcontainer{
        width: 100%;
        
        
    }
    
} */




/* @media (max-width:480px) {
    .cardcustom{
        width: 100%;
        
        
    }
    
} */

.viewallcustom{
    text-decoration: none;
}

.commentname {
    margin: 2px;
    margin-left: 12px;
    overflow: hidden ;
    
    
}

/* @media (max-width:480px) {
    .card-header{
        width: 100%;
        
        
    }  
} */
