.game-comm{
    margin: 2px;
    /* object-fit: contain; */
    /* word-wrap: break-word;
    overflow: scroll; */
  
    
}

/* @media (max-width:24.0px) {
    .game-comm{
        ;
    }
    
} */


.commentcontainer{
    background-color:burlywood ;
    /* object-fit: contain; */
    margin: 2px;
}

/* @media (max-width:480px) {
    .commentcontainer{
        width: 100%;
        
        
    }
    
} */


.cardcustom {
--bs-card-spacer-y: 1rem;
--bs-card-spacer-x: 1rem;
--bs-card-title-spacer-y: 0.5rem;
--bs-card-title-color: ;
--bs-card-subtitle-color: ;
--bs-card-border-width: var(--bs-border-width);
--bs-card-box-shadow: ;
--bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
--bs-card-cap-padding-y: 0.5rem;
--bs-card-cap-padding-x: 1rem;
--bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
--bs-card-cap-color: ;
--bs-card-height: ;
--bs-card-color: ;
--bs-card-bg: var(--bs-body-bg);
--bs-card-img-overlay-padding: 1rem;
--bs-card-group-margin: 0.75rem;
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
height: var(--bs-card-height);
color: var(--bs-body-color);
word-wrap: break-word;
background-color: var(--bs-card-bg);
background-clip: border-box;
border: var(--bs-card-border-width) solid var(--bs-card-border-color);
border-radius: var(--bs-card-border-radius);
}

/* @media (max-width:480px) {
    .cardcustom{
        width: 100%;
        
        
    }
    
} */

.viewallcustom{
    text-decoration: none;
}

.commentname {
    margin: 2px;
    margin-left: 12px;
    overflow: hidden ;
    
    
}

/* @media (max-width:480px) {
    .card-header{
        width: 100%;
        
        
    }  
} */
