.game-comm{
    margin: 2px;
    border-radius: 5px;
    /* object-fit: contain; */
    /* word-wrap: break-word;
    overflow: scroll; */
  
    
}




.commentcontainer{
  
    margin: 2px;
}

/* @media (max-width:480px) {
    .commentcontainer{
        width: 100%;
        
        
    }
    
} */


.cardcustom {
    padding: 20px;
    background-color: white;
}



.viewallcustom{
    text-decoration: none;
}

.commentname {
    margin: 2px;
    margin-left: 12px;
    overflow: hidden ;
    
    
}

/* @media (max-width:480px) {
    .card-header{
        width: 100%;
        
        
    }  
} */
