.features h4 {
    color: blue;
    text-align: center;
    margin-top: 80px;
    height: 120px;
}

.feature-card {
    width: 240px;
    height: 350px;
    margin: 10px;
    text-align: justify;
    padding-left: 100px
}