.tab-bg {
    background: no-repeat url('https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?w=1380&t=st=1694620493~exp=1694621093~hmac=6510b105b6efef5ca234a948d9a5ad9ca00ca127d080d5bc00f8720117e73355');
    background-size: 100% 100%;
}

.FS-bg {
    background: no-repeat url('https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2149017048.jpg?w=1380&t=st=1694621709~exp=1694622309~hmac=b68bc6e5a581912425f03038d29fff2de2c1d12f5ce1cdf08f25758d0af4c2b9');
    background-size: 100% 100%;
}

.slider-img-size {
    height: calc(100vh - 56px);
    width: 100%;
}

.img-slider-text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img-slider-text {
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-slider-text h1 {
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
}

.img-slider-text h5 {
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0px 0px 10px black;
}

.img-slider-indi {
    height: 140px !important;
    width: 245px !important;
    transition: 200ms !important;
    border-radius: 6px !important;
    border-top: unset !important;
    border-bottom: unset !important;
}

.img-slider-indi:hover {
    z-index: 10 !important;
    opacity: 1 !important;
    scale: 1.3 !important;
}

.s-btn-cus {
    width: 280px;
    background: rebeccapurple;
}

@media screen and (max-width: 1024px) {
    .slider-img-size {
        height: calc(100vh - 56px);
        width: auto !important;
    }

    .img-slider-indi {
        height: 14vw !important;
        width: 24vw !important;
    }
}

@media screen and (max-width: 768px) {
    .img-slider-text h1 {
        font-size: 7vw;
    }

    .img-slider-text h5 {
        font-size: 3vw;
        font-weight: 400;
    }

    .slider-img-size {
        height: 100vw;
        width: auto !important;
    }

    .s-btn-cus {
        width: 50vw;
        font-size: 3vw;
        padding: 11px 0px;
        background: rebeccapurple;
    }
}