.tab-bg{
    background: no-repeat url('https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?w=1380&t=st=1694620493~exp=1694621093~hmac=6510b105b6efef5ca234a948d9a5ad9ca00ca127d080d5bc00f8720117e73355');
    background-size: 100% 100%;
}

.FS-bg{
    background: no-repeat url('https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2149017048.jpg?w=1380&t=st=1694621709~exp=1694622309~hmac=b68bc6e5a581912425f03038d29fff2de2c1d12f5ce1cdf08f25758d0af4c2b9');
    background-size: 100% 100%;
}