.container-sign{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.form-sign{
    width: 430px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #dddddd;
}

.form-sign button{
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
}

.form-sign a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    transition: 200ms;
}

.form-sign a:hover{
    color: #03a9f4;
}

@media only screen and (max-width: 600px){
    .form-sign{
        width: 95%;
        padding: 15px;
    }
}