.text-gray-600 {
  color: black;
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-gray-900 {
  color: #111827;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-gray-200 {
  border-color: #e5e7eb;
}

.rounded-lg {
  border-radius: 15px;
}

.text-indigo-500 {
  color: #6366f1;
}

.w-12 {
  width: 48px;
}

.h-12 {
  height: 48px;
}

.card-pp {
  transition: transform 300ms ease;
}

.card-pp:hover {
  transform: scale(1.06);
  /* background-color: whitesmoke; */
  /* filter: blur(1px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}