/* General styles */
.product-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: 300ms;
}

.product-card:hover{
  transform: translate(0,-10px);
}

.w-res{
  width: 80%;
}

@media only screen and (max-width: 500px) {
  .product-card{
    margin: 10px;
  }
  .w-res {
    width: 100%;
  }
}

.product-image {
  width: 100%;
  height: 320px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.product-details {
  padding: 1rem;
}

/* Product title */
.product-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #2d3748;
  text-decoration: none;
  /* Remove hover effect */
}

/* Product rating */
.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.star-container {
  display: inline-flex;
  align-items: center;
  margin-right: 0.25rem;
}

.rating-star {
  /* width: 1rem; */
  /* height: 1rem; */
  fill: #f6ad55;
  margin-left: 4px;
}

.rating-value {
  font-size: 0.9rem;
  font-weight: 600;
  color: #4a5568;
  background: #e7e7e7;
  padding: 2px;
  border-radius: 5px;
  width: 35px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Product price and Add to cart button */
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3748;
}

.add-to-cart-button {
  color: #fff;
  padding: 11px 18px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
}